<!DOCTYPE html>
<html class="h-full dark">
  <head>
    <title>Hoddler</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= yield(:head) %>
  </head>

  <body class="h-full bg-white dark:bg-gray-800">
    <div class="relative flex flex-col">
      <%= render "layouts/navbar" %>
    </div>


    <main>
      <%= yield %>
    </main>
  </body>
</html>
